body, html {
    height: 100%;
    color: #ffcb05;
}

.bg-image {
    background-image: url("../images/Pokemon-background.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-left: 50%;
    padding-top: 16%;
    line-height: 150%;
    font-size: 30px;
    font-weight: bold;
}

.display {
    margin-top: 5%;
}

.guessLine {
    padding-top: 5%;
}